[submodule "RollingPaper"]
    path = RollingPaper
    url = https://github.com/Ducaster/RollingPaper.git

[submodule "docker-project-front"]
    path = docker-project-front
    url = https://github.com/Ducaster/docker-project-front.git
    branch = master
